<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weilai.team.officialWebSiteApi.mapper.message.MessageTypeMapper">

    <resultMap id="BaseResultMap" type="weilai.team.officialWebSiteApi.entity.message.DO.MessageType">
            <id property="typeId" column="type_id" jdbcType="BIGINT"/>
            <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        type_id,type_name,created_at
    </sql>
</mapper>
